/* Définition de la police Raleway pour la version normale */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-regular-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-regular-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Regular.ttf") format("truetype");
}

/* Pour la version en gras */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-bold-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-bold-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-bold-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}

/*Utilisation de la police dans tout le document */
* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Breakpoint à utiliser pour les écrans desktop en prenant la taille de la maquette: 1440px */
@media (min-width: 1440px) {
  /* Afin de maintenir une cohérence vis-à-vis de la maquette et éviter d'éventuels comportements étranges sur de très grandes définitions */
  body {
    width: 1360px;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
  }
  /* Entête contenant le logo, la barre de navigation et le bouton s'inscrire */
  #entete {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* Pour la version desktop on modifie l'ordre des éléments d'entête pour mettre le bonton inscription en troisième position */
  #inscription:nth-child(2) {
    order: 3;
  }
  #logo {
    flex: 11 1 auto;
  }
  /* Barre de navigation */
  nav {
    flex: 2 1 auto;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-around;
  }
  /* Lien d'inscription */
  #inscription {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }
  /* Modification des liens de navigation */
  .lien_nav {
    text-decoration: none;
  }
  .hebergement {
    color: #0065fc;
  }
  .activites {
    color: black;
  }
  /* Modification du lien d'inscription */
  .lien_inscription {
    color: #0065fc;
    text-decoration: none;
    font-weight: bold;
  }
  /* Titre princpal */
  h1 {
    font-size: 1.4em;
  }
  /* Barre de recherche */
  #recherche {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  /* Icône de recherche */
  .fa-map-marker-alt {
    padding: 15px 20px 15px 15px;
    background-color: #f2f2f2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }
}

/* Breakpoint à utiliser en prenant l'iphone 8 comme référence: 375px */
@media (max-width: 375px) {
  /* Entete contenant le logo, le lien d'inscription et la barre de navigation */
  header {
    padding: 10px 10px 10px 10px;
  }
  #entete {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #logo {
    flex: auto;
  }
  #inscription {
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }
  nav {
    display: flex;
    width: 100%;
  }
  nav ul {
    display: flex;
    flex: auto;
    list-style-type: none;
    padding: 0%;
  }
  li {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }
  /* Description avec le titre principal et le message d'acceuil */
  h1 {
    font-size: x-large;
  }
  #description {
    font-size: medium;
  }
  /* Le formulaire de recherche */
  #recherche {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  /* Icône de recherche */
  .fa-map-marker-alt {
    padding: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    flex: 1 1 auto;
  }
  /* Bouton de recherche */
  form {
    display: flex;
  }
  form input {
    border: none;
  }
  button {
    flex: 1 1 auto;
    background-color: #0065fc;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  /* Les filtres */
  #filtres {
    display: flex;
    flex-wrap: wrap;
  }
  #filtres h2 {
    width: 100%;
  }
  .filtre {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #f2f2f2;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo_filtre {
    padding-right: 10px;
    color: #0065fc;
    background-color: orange;
  }
  .filtre p {
    font-weight: bold;
  }
  /* Le résulat de la recherche */
  #resultats {
    /* A supprimer */
    border-style: solid;
    border-width: 1px;
    border-color: brown;
    background-color: grey;
  }
}
