/* Définition de la police Raleway */
/* Version normale */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-regular-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-regular-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Regular.ttf") format("truetype");
}

/* Version en gras */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-bold-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-bold-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-bold-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Règles applicables à tout le document */
#main_container {
  max-width: 1440px;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: auto;
}
.icone,
#icone_resultat {
  flex: none;
}

/* Règles applicables au header et ses composants */
header {
  display: flex;
  flex-direction: column;
  margin: 0 2em 2em;
}
.element_header {
  margin-bottom: 1em;
}

/* Entête contenant le logo et les liens de navigation et inscription */
#entete {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#entete .logo {
  width: 70%;
  margin: 2em 2em 2em 0;
}
nav,
#lien_inscription {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
#lien_inscription {
  width: auto;
}
#liens {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#liens li {
  display: flex;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
}
#liens li a,
#lien_inscription a {
  display: flex;
  align-items: center;
}

/* Règles spécifiques pour différencier les liens et leur comportement LVHA */
#lien_hebergement a:link,
#lien_activite a:link,
#lien_inscription a:link {
  text-decoration: none;
}
#lien_hebergement a:link,
#lien_activite a:link {
  color: black;
}
#lien_inscription a:link {
  color: #0065fc;
  font-weight: bold;
}
#lien_hebergement a:visited,
#lien_activite a:visited {
  color: black;
}
#lien_inscription a:visited {
  color: #0065fc;
}
#lien_hebergement:hover,
#lien_activite:hover {
  border-top: solid 5px #0065fc;
}
#lien_hebergement:hover > a,
#lien_activite:hover > a {
  color: #0065fc;
}

/* Règles pour le titre et la description (qui garde ses propriétés par défaut) */
h1 {
  font-size: 1.4em;
}

/* Règles spécifiques à la section 'recherche' */
#recherche {
  display: flex;
  align-items: center;
}
#recherche > .icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 1em 0 0 1em;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
}
form {
  /* Permet de s'assurer que le formulaire prenne bien toute la hauteur disponible */
  align-self: stretch;
  border: solid 1px #f2f2f2;
  border-right: none;
}
#champ_saisie {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
  border: none;
  /* Le tag <input> n'hérite pas de la police de ses parents */
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
#recherche #bouton {
  align-self: stretch;
  display: flex;
  align-items: center;
  border-radius: 0 1em 1em 0;
  background-color: #0065fc;
}
#recherche #bouton::before {
  content: "Rechercher";
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  font-size: large;
  color: white;
}

/* Règles spécifiques aux filtres */
#filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#filtres h2 {
  padding-top: 2em;
  padding-right: 2em;
  font-size: large;
}
.conteneur {
  display: flex;
  padding-top: 2em;
}
.conteneur > figure {
  margin: 0;
}
.conteneur > .icone {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border-radius: 50%;
  border: none;
  background-color: #deebff;
}
.conteneur .texte {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em 0 1.5em;
  border: solid 2px #f2f2f2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  left: -20px;
  z-index: -11;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
}
.texte .not_capitalize {
  text-transform: none;
}

/* Règles spécifiques aux résultats de la recherche */
#resultats {
  display: flex;
  align-items: center;
}
#icone_resultat {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  margin: 0 1em 0 0;
  font-size: small;
  color: #0065fc;
}

/* Règles applicables au main et ses composants */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2em 2em;
}
/* Règles générales aux sections et leurs composants */
section {
  box-sizing: border-box;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
  background-color: #f2f2f2;
}
.titre_section {
  width: 100%;
  margin: 0 0 1em 0;
  font-size: 1.3em;
}
section > figure,
.colonne_activite > figure {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;
  margin: 0.5em 0;
  box-shadow: -5px 5px 15px 15px #f2f2f2;
}
section > figure {
  border: solid 5px white;
}
section > figure img,
.colonne_activite > figure img {
  object-fit: cover;
}
figcaption {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  background-color: white;
}
figcaption h2 {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
figcaption p {
  padding: 0;
  margin: 0.4em 0;
  font-size: small;
}
.figcaption_populaires p {
  flex-grow: 2;
}
figcaption i {
  color: #0065fc;
}
figcaption em {
  font-weight: bold;
  font-style: normal;
}
.score {
  display: flex;
}
.fa-star {
  font-size: small;
}
.etoile_pleine {
  color: #0065fc;
}
.etoile_vide {
  color: #f2f2f2;
}
/* Fin des règles générales aux sections et leurs composants */

/* Règles spécifiques à la section hébergements */
#hebergements {
  max-width: 68%;
}
.figure_hebergements,
.figure_hebergements img,
.figcaption_hebergements {
  width: 250px;
}
.figure_hebergements {
  height: 190px;
}
.figure_hebergements img {
  height: 110px;
}
.figcaption_hebergements {
  height: 80px;
}
/* Fin des règles spécifiques à la section hébergements */

/* Règles spécifiques à la section populaires */
#populaires {
  max-width: 29%;
}
#bandeau_populaires {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo_populaire {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}
.figure_populaires,
.figure_populaires img,
.figcaption_populaires {
  height: 145px;
}
.figure_populaires {
  width: 345px;
  flex-direction: row;
}
.figure_populaires img {
  width: 125px;
}
.figcaption_populaires {
  width: 220px;
}
/* Fin des règles spécifiques à la section hébergements */

/* Règles spécifiques à la section activités */
#activites {
  width: 100%;
  padding: 0;
  margin-top: 2em;
  background-color: white;
}
.colonne_activite {
  max-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.figure_activites {
  border: none;
}
.figure_activites,
.figure_activites img,
.figcaption_activites {
  width: 300px;
}
#activite_colonne_1 .figure_activites,
#activite_colonne_3 .figure_activites {
  height: 445px;
}
#activite_colonne_2 .figure_activites {
  min-height: 165px;
}
#activite_colonne4 .figure_activites {
  min-height: 195px;
}
#activite_colonne_1 .figure_activites img,
#activite_colonne_3 .figure_activites img {
  height: 390px;
}
#activite_colonne_2 .figure_activites img {
  min-height: 110px;
}
#activite_colonne_4 .figure_activites img {
  min-height: 140px;
}
.figcaption_activites {
  height: 55px;
}
/* Fin des règles spécifiques à la section activités */

#fin_section {
  width: 100%;
  margin: 1.5em 0 0 0;
  font-size: 1em;
  font-weight: bold;
}

/* Règles applicables au footer et ses composants */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #f2f2f2;
}
.section_footer {
  width: 33%;
}
.section_footer h2 {
  font-size: large;
}
.section_footer ul {
  padding: 0;
  list-style-type: none;
}
.section_footer ul li {
  padding: 0.5em 0;
}

/* Règles spécifiques pour les tailles d'écran type tablettes et en dessous */
@media all and (max-width: 768px) {
  body {
    margin: 0;
  }
  /* Passage d'une partie de la barre de navigation sous le logo et le bouton d'inscription */
  header {
    margin: 0;
  }
  .element_header {
    margin: 1em 1em 0.5em;
  }
  #entete {
    flex-wrap: wrap;
    margin: 0;
  }
  #entete > .logo {
    width: auto;
    margin: 1em;
  }
  #entete > nav {
    width: 100%;
    order: 1;
  }
  #liens > li {
    width: 100%;
    justify-content: center;
    padding-bottom: 1em;
  }
  #lien_hebergement:hover,
  #lien_activite:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }
  #lien_inscription {
    margin-right: 1em;
  }
  #titre_principal {
    /* Permet d'aligner le titre avec le reste des éléments sans toucher à sa polive ni fixer une marge en pixels */
    margin-left: 0.72em;
  }

  /* Recherche */
  /* Pour s'assurer qu'il prenne bien le maximum de largeur disponible */
  form {
    max-width: 400px;
    width: 100%;
  }
  #recherche #bouton {
    width: 50px;
    height: 50px;
    justify-content: center;
    flex: none;
    border-radius: 1em;
    position: relative;
    left: -20px;
  }
  #recherche #bouton::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: bold;
    font-size: large;
    padding: 0;
    color: white;
  }
  /* Filtres */
  #filtres > h2 {
    width: 100%;
    padding: 0;
  }
  .conteneur {
    padding-top: 1em;
  }

  /* Règles du main et de ses composants */
  main {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
  }
  #hebergements,
  #populaires {
    max-width: 100%;
    padding: 1em;
  }
  #populaires,
  #hebergements,
  #activites {
    justify-content: center;
  }
  #populaires {
    order: -1;
    border-radius: 0;
  }
  #hebergements {
    background-color: white;
  }
  #activites {
    padding: 1em;
  }
  .figure_populaires,
  .figure_hebergements,
  .figure_activites,
  .figure_hebergements img,
  .figure_activites img {
    width: 335px;
  }
  .figure_populaires img {
    width: 130px;
  }
  .figure_activites {
    max-height: 190px;
  }
  .figure_activites img {
    max-height: 145px;
  }

  /* Règles du footer */
  footer {
    flex-direction: column;
  }
  .section_footer {
    width: 100%;
    margin-bottom: 2em;
  }
  .section_footer h2 {
    margin-top: 0;
  }
  .section_footer ul li {
    padding: 0.3em;
  }
}
