/* Définition de la police Raleway */
/* Version normale */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-regular-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-regular-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-regular-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Regular.ttf") format("truetype");
}

/* Version en gras */
@font-face {
  font-family: "Raleway";
  src: url("/polices/raleway/raleway-bold-webfont.eot")
    format("embedded-opentype");
  src: url("/polices/raleway/raleway-bold-webfont.svg") format("svg");
  src: url("/polices/raleway/raleway-bold-webfont.woff") format("woff");
  src: url("/polices/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
header {
  padding-left: 50px;
  padding-right: 50px;
}
#entete {
  display: flex;
  align-items: center;
}
#logo {
  width: 75%;
}
#navigation {
  width: 25%;
  margin-right: 50px;
}
#navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
}
li a {
  text-decoration: none;
}
#lien_hebergement {
  color: #0065fc;
}
a:visited {
  color: black;
}
#inscription {
  width: 10%;
  display: flex;
  justify-content: center;
}
#inscription a {
  font-weight: bold;
  text-decoration: none;
  color: #0065fc;
}
#recherche {
  /* A supprimer */
  background-color: blue;
}
#filtres {
  /* A supprimer */
  background-color: red;
}
#resultats {
  /* A supprimer */
  background-color: yellow;
}
/* Contenu principal de la page */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
#hebergements {
  width: 70%;
  background-color: #d2d2d2;
}
#populaires {
  width: 30%;
  background-color: #d2d2d2;
}
#activites {
  width: 100%;
}
h2 {
  width: 100%;
}
.carte_hebergement {
  background-color: white;
}
.carte_populaire {
  background-color: white;
}
/* Eléments du footer */
footer {
  display: flex;
  background-color: #f2f2f2;
}
.infos_footer {
  width: 35%;
  /* A supprimer */
  border: solid;
}
